
body
{
  margin: 0;
  border-top: 5px solid rgb(200, 200, 200);
  background-color: #1e1e1e;
}

section.header
{
  margin-left: 190px;
  margin-right: 150px;
}

section.standalone
{
  margin-top: 30px;
  margin-left: 190px;
  margin-right: 150px;
}

div.title
{
  width: 900px;
  padding: 10px;
  border: 3px;
  text-align: left;
  color: rgb(200, 200, 200);
  font-family: 'Lobster', serif;
}

article
{
  color: rgb(180,180,180);
  background-color: #222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  font-size: 16px;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
}

article
{
    display: block;
}

ul#menu
{
  padding: 10px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 11;
  list-style: none;
}

ul#menu li
{
    border-bottom: 5px solid #54BAE2;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}

ul#menu li a
{
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

ul#menu li.active, ul#menu li:hover
{
    background-color: #54BAE2;
    border-bottom: 5px solid #FF831C;
}
