body
{
  margin: 0;
  border-top: 5px solid rgb(200, 200, 200);
  background-color: #1e1e1e;
}

section.header
{
  margin-left: 190px;
  margin-right: 300px;
  padding: 0px;
}

section.standalone
{
  margin-top: 30px;
  margin-left: 190px;
  margin-right: 150px;
}

section.title
{
  height: 25px;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 900px;
  text-align: right;
  border-left: 1700px;
  color: rgb(200, 200, 200);
  font-family: 'Lobster';
}

article
{
  color: rgb(180,180,180);
  background-color: #222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  font-size: 16px;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
}

article
{
    display: block;
}

ul#menu
{
  margin-left: 150;
  padding: 10px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 11;
  list-style: none;
}

ul#menu li
{
    border-top: 5px solid #333;
    border-radius: 5px;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left;
}

ul#menu li a
{
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

ul#menu li.active_orange, ul#menu li.orange:hover
{
    background-color: #222;
    border-top: 5px solid #E97F15;
}

ul#menu li.active_dark_orange, ul#menu li.dark_orange:hover
{
    background-color: #222;
    border-top: 5px solid #B55A00;
}
